
*{
    margin:5px;
}
.grandparent{
    background-color: red;
    max-width: 600px;
    height: 600px;
    margin: auto;
    padding: 90px;
}

.parent{
    background-color: green;
    max-width: 100%;
    height: 250px;
    margin: 5px;
    padding: 20px;
  
}

.child{
    background-color:orange;
    max-width: 45%;
    height: 100px;
    margin: 5px;
}


.child::after{
    content: "";
    clear: both;
    display: table;
}

